.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 50px;
}


body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #434343);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

ul{
    display: flex;
    justify-content: space-between;
    color:rgb(99, 10, 10);
}

.titulo{
    text-align:left;
    color:rgb(211, 204, 204);

}

.titulo h1{
    font-size: 100px;
}

.titulo h2{
    font-size: 40px;
}

.desc1{
    font-family: 'Courier New', Courier, monospace;
}

.separator {
    height: 20px; /* Altura de la separación (ajusta según tu preferencia) */
    background-color: transparent; /* Fondo transparente */
    border-top: 2px solid #fff; /* Línea divisoria blanca (ajusta el color y el estilo) */
    margin: 20px 0; /* Espaciado alrededor de la separación (ajusta según tu preferencia) */
}

/* primera sección */

.section1title{
    font-family: 'Courier New', Courier, monospace;
    color: #fd3d3d;
    margin-left: 5px;
}

.section1img{
    width: 15%;
    height: 15%;
    border-radius: 3px;
    align-items: center;
}

.descContainer{
    display: flex;
}

.desc2{
    color:darkgray;
    padding: 2%;
    font-size: 20px;
}

/* sección 2 */

.section2title{
    font-family: 'Courier New', Courier, monospace;
    color: #fd3d3d;
    margin-left: 5px;
}

.imgContainer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.img1{
    max-width: 80%;
    border-radius: 5px;
}

.img1:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.descImg{
    color:#bebebe;
    font-size: 20px;
}

.imgWrapper{
    flex: 1;
    text-align: center;
}

/* Sección 3 */

.section3title{
    color: #fd3d3d;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5px;
}

.imgContainer2{
    display: flex;
    justify-content: space-between;
}

.imgContainer3{
    display: flex;
    justify-content: space-between;
}

.img3{
    width: 420px;

}

.desc3Img2{
    padding-top: 100px;
    padding-left: 50px;
    color:#bebebe;
    font-size: 20px;
}


.desc3Img1{
    margin-top: 10px;
    color:#bebebe;
    font-size: 20px;
    margin-left: 50px;
}

.section3img1{
    width: 400px;
    margin-left: 20px;
}

.habilidadesTitulo{
    font-family: 'Courier New', Courier, monospace;
    color: #fd3d3d;
    text-align: center;
    font-size: 30px;
}

/* sección 4 */

.section4title{
    color: #fd3d3d;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5px;
}

.section4desc{
    color:#bebebe;
    font-size: 20px;
    font-weight: lighter;
}

.section4img{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.habilidadesImg{
    display: flex;
    justify-content: center;
}

.redesImg:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

footer{

}